[submodule "lending_level2/lib/forge-std"]
	path = lending_level2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20_lending/lib/forge-std"]
	path = erc20_lending/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20_lending/lib/openzeppelin-contracts"]
	path = erc20_lending/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lending_level3/lib/forge-std"]
	path = lending_level3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
